
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {

}

.scene {
    height: 200px;
    width: 200px;
    border: 1px solid #CCC;
    margin: 40px;
    perspective: 600px;
    /* transform: perspective(600px) rotateY(45deg); */
}

.panel {
    width: 100%;
    height: 100%;
    background-color: blue;
    transform: rotateY(45deg);
}